{% extends "base.html" %}
{% load static %} 
{% block blockname %}

<!-- 1. text part -->
<div >
    <div style="height:500px; padding:100px" class=" d-flex flex-wrap">
        <div class=" col-6 text-center p-4" style="background-color: antiquewhite;">
            <h1>Graphic Design</h1>
            <h5 class=" pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Cum ullam et est. Numquam quis, laborum nihil vel deserunt 
                consectetur recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus pariatur, recusandae illo quaerat quidem non explicabo officia ipsam 
                accusantium perspiciatis.</h5>
        </div>
        <div class=" col-6 align-content-center flex-wrap" style="background-color: antiquewhite;">
            <img src="{% static 'Blockchain.jpg' %}" alt="">
        </div>
    </div>
</div>

<!-- 2. Category section -->

<div class="justify-content-center" style="padding-top: 50px;">
    <div class=" text-center pb-5">
        <h1 style="font-weight: 700;">Networking and Cyber Secutity</h1>
    </div>
    <div class="align-content-center d-flex flex-wrap justify-content-center">

      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- second card -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- third card -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- fourth card -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- fifth card -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- 6th card -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- 7th -->
      <div class="p-3">
        <div class="card" style="height: 500px; width: 450px; border-radius: 20px;">
          <img src="{% static 'Blockchain.jpg' %}" style="border-radius: 20px;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">All Courses</h5>
            <h2>Degital Markeging</h2>
            <p class="">14,400 Reviews 18,000 Student</p>
          </div>
          <div class="d-flex">
            <div style="padding-left: 40px; padding-bottom: 50px">
              <h4>Course Fee</h4>
              <h4>50000 BDT</h4>
            </div>
            <div style="padding-left: 70px; padding-top: px">
              <a href="#" class="btn btn-primary p-3" style="border-radius: 25px"
                ><h5>Purches Course</h5></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock blockname %}