{% extends "base.html" %}
{% load static %} 
{% block blockname %}

<!-- 1. text part -->

<div>
    <div style="padding: 100px;" class=" text-center">
        <h1 style="font-size: 80px; font-weight: 700; color:rgb(115, 116, 111)">Join Our Free Seminer</h1>
        <h5 style="padding-left: 150px; padding-right:150px; padding-top:50px ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, deleniti 
            consectetur incidunt sapiente totam, nihil id sit voluptate praesentium nam est 
            soluta quod iste saepe, adipisci quasi mollitia reprehenderit. Quia vero repudiandae, 
            nam autem voluptatum quaerat pariatur officiis dolorum earum.</h5>
    </div>
</div>

<!-- 2. Web seminer time part -->

<div>
    <div style="padding: 150px;">
        <!-- text part -->
        <div class=" d-flex p-4">
            <div class=" px-1" style="font-size: 25px;">
                <h4>Online</h4>
            </div>
            <div class=" px-3" style="font-size: 25px;">
                <h4>Offline</h4>
            </div>
        </div>
        <!-- border part -->
        <div>
            <div style="  border-bottom: 2px solid rgb(107, 107, 107);">
            </div>
        </div>
        <!-- seminer part -->
        <div>
            <ul class="list-group pb-2 pt-4">
                <li
                  class="list-group-item"
                  style="display: -webkit-box;"
                  aria-current="true"
                >
                  <div>
                    <h1 class="px-3">24</h1>
                    <span><h3>March , 24</h3></span>
                  </div>
                  <div class="px-3">
                    <div
                      class="px-3 bg-body-secondary pt-1"
                      style="border-radius: 15px; "
                    >
                      <div class="pt-3 d-flex">
                        <div>
                          <h3 class="">Graphic And Multimedia</h3>
                          <h4>Online, 3.30 pm</h4>
                        </div>
                        <div style="padding-left: 760px; padding-top: 5px">
                          <a type="button" class="btn btn-success" style="font-size: 25px; width:100px">Join</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
            <ul class="list-group pb-2 pt-4">
                <li
                  class="list-group-item"
                  style="display: -webkit-box;"
                  aria-current="true"
                >
                  <div>
                    <h1 class="px-3">24</h1>
                    <span><h3>March , 24</h3></span>
                  </div>
                  <div class="px-3">
                    <div
                      class="px-3 bg-body-secondary pt-1"
                      style="border-radius: 15px; "
                    >
                      <div class="pt-3 d-flex">
                        <div>
                          <h3 class="">Graphic And Multimedia</h3>
                          <h4>Online, 3.30 pm</h4>
                        </div>
                        <div style="padding-left: 760px; padding-top: 5px">
                          <a type="button" class="btn btn-success" style="font-size: 25px; width:100px">Join</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
            <ul class="list-group pb-2 pt-4">
                <li
                  class="list-group-item"
                  style="display: -webkit-box;"
                  aria-current="true"
                >
                  <div>
                    <h1 class="px-3">24</h1>
                    <span><h3>March , 24</h3></span>
                  </div>
                  <div class="px-3">
                    <div
                      class="px-3 bg-body-secondary pt-1"
                      style="border-radius: 15px; "
                    >
                      <div class="pt-3 d-flex">
                        <div>
                          <h3 class="">Graphic And Multimedia</h3>
                          <h4>Online, 3.30 pm</h4>
                        </div>
                        <div style="padding-left: 760px; padding-top: 5px">
                          <a type="button" class="btn btn-success" style="font-size: 25px; width:100px">Join</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
            <ul class="list-group pb-2 pt-4">
                <li
                  class="list-group-item"
                  style="display: -webkit-box;"
                  aria-current="true"
                >
                  <div>
                    <h1 class="px-3">24</h1>
                    <span><h3>March , 24</h3></span>
                  </div>
                  <div class="px-3">
                    <div
                      class="px-3 bg-body-secondary pt-1"
                      style="border-radius: 15px; "
                    >
                      <div class="pt-3 d-flex">
                        <div>
                          <h3 class="">Graphic And Multimedia</h3>
                          <h4>Online, 3.30 pm</h4>
                        </div>
                        <div style="padding-left: 760px; padding-top: 5px">
                          <a type="button" class="btn btn-success" style="font-size: 25px; width:100px">Join</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- category page -->




{% endblock blockname %}