<!-- 1. banner -->
<div class="fullbanner">
    <div class="banner1 container d-flex">
        <div class="col-6">
        <h1 class="text-center eLarning">Why Chose eLarning</h1>
        <h5 class="text-center">
            With a vision to turn manpower into assets, Creative IT Institute is
            ready to enhance your learning experience with skilled mentors and
            updated curriculum. Pick your desired course from more than 30 trendy
            options.
        </h5>
        <div class="buttonclass">
            <button class="button p-2">Browser Course</button>
            <button class="button p-2">Free Seminer</button>
        </div>
        </div>
        <div class="col-6 bannervideo">
        <video class="width=" 350 height="370" controls muted>
            <source src="{% static 'Natureoos.mp4' %}" type="video/mp4" />
        </video>
        </div>
    </div>
</div>

  
<!-- 2. cattegory section -->

<div
    id="carouselExampleControls"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem">
            <img
            src="https://source.unsplash.com/collection/190727/1600x900"
            class="card-img-top"
            alt="..."
            />
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            </div>
        </div>
        </div>
    </div>
    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>


<!-- 4. all category  -->
  
<div class="allcourse">
    <div class="allcouresunder">
      <div class="text-center pt-4 text-white">
        <h1>Our Famous Coures</h1>
        <h5 class="loremtext">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
          voluptatibus laborum magnam harum voluptate nemo similique minima,
          laudantium totam enim iure necessitatibus, corrupti rem sed beatae
          provident ipsam ipsum omnis nam fugit! Eum asperiores ipsum minima,
          molestiae voluptatum atque ducimus officia quos saepe odit earum
          temporibus voluptate consequuntur excepturi. Repudiandae.
        </h5>
      </div>

      <div class="allcoursebanner">
        <div class="d-flex gap-5 justify-content-center cattegoytype">
          <h3>All course</h3>
          <h3>Graphic</h3>
          <h3>Web & Softwere</h3>
          <h3>3D anamition</h3>
          <h3>Cloud Computing</h3>
          <h3>Data Science</h3>
          <h3>Cybersecurity</h3>
          <h3>Robotics</h3>
          <h3>Video Editing</h3>
        </div>

        <div class="allcategory">
          <div
            id="carouselExampleControls"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://source.unsplash.com/collection/190727/1600x900"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
